html {
  font-size: 14px;
}


h1 {
    color: red;
}

.forms-container > h1 {
    color: green;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}